# core
torch>=2.1.0
lightning>=2.2.0
hydra-core>=1.3.0
omegaconf>=2.3.0
rootutils>=1.0.7

# models & data
transformers>=4.40.0
datasets>=2.19.0
Pillow>=10.0.0

# logging
wandb>=0.16.0
torchmetrics>=1.3.0

# utilities
rich>=13.0.0
lightning-utilities>=0.10.0
hydra-colorlog>=1.2.0
